:root {
  --eGreen: #07352c;
  --eLightGreen: #ddede6;
}

header {
  position: relative;
  display: flex;
  top: 100%;
  height: 100%;
  padding: 20%;
  align-content: center;
  text-align: left; /* center the text */
  background: #1c1a1d; /* green background */
  color: white; /* white text color */
}

.title {
  position: absolute;
  left: 0%;
  bottom: 50%;
  max-width: 45%;
  min-width: 20%;
  display: flexbox;
  padding: 20px;

  background-color: var(--eLightGreen);
  border-radius: 20px;
  color: black;
  font-size: 15vmin;
  font-stretch: expanded;
}

.title h2 {
  position: absolute;
  left: 0%;
  top: 120%;

  padding: 20px;
  background-color: var(--eLightGreen);
  border-radius: 20px;
  font-size: 5vmin;
  color: black;
}

.ImageContainer {
  position: absolute;
  height: 80%;
  width: 50%;
  right: 0%;
  top: 10%;
  padding: 10px;

  border-radius: 20px;
  background-color: var(--eLightGreen);
}

.ImageContainer img {
  position: absolute;
  width: 90%;
  height: 90%;
  align-content: center;
  object-fit: cover;
}

nav {
  position: sticky;
  overflow: hidden; /* Hide overflow */
  background-color: #333; /* Dark background color */
}

/* Style the navigation bar links */
nav a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
nav a.right {
  float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
nav a:hover {
  background-color: #ddd; /* Grey background color */
  color: black; /* Black text color */
}

/* Stacks Nav bar when screen small */
@media screen and (max-width: 450px) {
  nav a {
    float: none;
    width: 100%;
  }
}
